*  {
    background-color:azure;
    
   }

.banner {
       display: flex;
       flex-direction: column;
       align-content: center;
       justify-content: center;
       border:black ;
       box-sizing: border-box;
       flex-wrap: wrap;
       text-align: center;
       background-color: brown;
   }

.banner h1 {
    background-color: brown;
}

.banner h2 {
    background-color: brown;
}



.mainboxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
   }

